
// File of nullify style
@import "nullstyle.scss";

// Import ../fonts/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap');
// Creating style

body {
	padding: 200px 0 0 0;	
}
.HelloWorld{
	margin: 0 auto 0 auto;
	background: rgb(206,144,20);
	text-align: center;
	width: 1000px;
	height: 1000px;
	font-size: 30px;
}
