
// File of nullify style
@import "nullstyle.scss";

// Import ../fonts/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap');
// Creating style

body {
	font-size: 30px;
	padding: 200px 0 0 0;
	text-align: center;
}
